<!DOCTYPE html>
<html>
  <head>
    <title>Adonis</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Rasa:400,500,600|Dosis:400,500,600" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="nav">
          <nav class="navbar navbar-default navbar-fixed-top visible-lg visible-md" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand"></a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav-collapse">
              <ul class="nav navbar-nav navbar-left">
                <li class="nav-element nav-left-group"><a href="/">Blog</a></li>
                <li class="nav-element nav-left-group"><a href="/resource">Resources</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-element nav-right-group"><a href="/about">About Me</a></li>
                <li class="nav-element nav-right-group"><a href="/contacts/new">Contact</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
          <div class="circle-md-lg visible-lg visible-md">
            <div class="circle-nav-element col-centered">
            </div>
            <div class="circle-nav-element-bottom col-centered">
            </div>
          </div>
          <div class="container-fluid">
            <div class="circle-sm-xs visible-sm visible-xs">
            <div class="circle-nav-element-sm col-centered">
            </div>
            <div class="row">
              <div class="sm-menu-bar col-sm-10 col-xs-12 col-centered text-center">
                <ul class="list-inline">
                  <li id="sm-menu"><%= link_to "Blog", root_path %></li>
                  <li id="sm-menu"><%= link_to "Resources", resource_path %></li>
                  <li id="sm-menu"><%= link_to "About Me", about_path %></li>
                  <li id="sm-menu"><%= link_to "Contact", new_contact_path %></li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
